@model List<MyElearningProject.DAL.Entities.CourseVideo>
@{
    Layout = null;
}


@Html.Action("HeadPartial", "ELearningHome")

@Html.Action("SpinnerPartial", "ELearningHome")

@Html.Action("NavbarPartial", "ELearningHome")
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Kurse</h6>
            <h1 class="mb-5">Title</h1>
        </div>





        <div class="d-flex justify-content-center flex-column align-items-center mb-4">
            @foreach (var item in Model)
            {
                <div class="mb-4">
                    <iframe width="560" height="315" src="@item.Url" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            }



        </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@Html.Action("FooterPartial", "ELearningHome")

<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/elearning/lib/wow/wow.min.js"></script>
<script src="~/Templates/elearning/lib/easing/easing.min.js"></script>
<script src="~/Templates/elearning/lib/waypoints/waypoints.min.js"></script>
<script src="~/Templates/elearning/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const newsletter = document.querySelector('#news');
    newsletter.addEventListener('click', function () {
        Swal.fire({
            title: 'Newsletter-Anmeldung',
            text: 'Sie wurden erfolgreich für den Newsletter angemeldet.',
            icon: 'success',
            confirmButtonText: 'Schließen!',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            background: '#f7f7f7',
        });
    })

</script>
<!-- Template Javascript -->
<script src="~/Templates/elearning/js/main.js"></script>